
<section class="basic_details sticky">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="detail_sec">
          <app-trans-header></app-trans-header>

          <div class="details_inner">
            <div class="type_camp">
              <div class="container-fluid no-padding">
                <div class="detail_title">
                  <h4>
                    <i class="icon-settings"></i><span class="user">Services</span>
                    <button type="button" [ngClass]="isOpen ? 'btn btn-outline-grey btn_custom1 pull-right marg10' : 'btn btn-outline-primary btn_custom1 pull-right marg10'" (click)="toggle()">
                      <i class="fa fa-filter" aria-hidden="true" matTooltip="filter" *ngIf="isOpen"></i>
                      <i class="fa fa-filter" aria-hidden="true" matTooltip="filter" *ngIf="!isOpen"></i>
                    </button>

                  </h4>
                </div>




                <div class="container px-lg-3 my-1 p-1 bg-white rounded shadow-sm" [@openClose]="isOpen ? 'open' : 'closed'">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field floatLabel="always">
                        <mat-label> BU Unit</mat-label>
                        <mat-select name="sample_2_length" [(ngModel)]="sp" (change)="LoadPartners()" #usertype1="ngModel">
                          <mat-option value="">Select</mat-option>
                          <mat-option *ngFor="let item of serviceProvidersList" [value]="item.id">{{ item?.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                    <!--<div class="col-md-3">
    <div class="form-group">
      <label for="sel1">
        BU Unit
      </label>
      <select class="form-control" id="usertype" name="sample_2_length" aria-controls="sample_2" [(ngModel)]="sp" (change)="LoadPartners()" #usertype1="ngModel">
        <option *ngFor="let item of serviceProvidersList" value="{{item.id}}">{{item.name}}</option>
      </select>
    </div>
  </div>-->
                    <div class="col-md-3">
                      <mat-form-field floatLabel="always">
                        <mat-label>Service Group</mat-label>
                        <mat-select name="service_group" [(ngModel)]="servicegroup" (change)="LoadPartners()">
                          <mat-option value="">Select</mat-option>
                          <mat-option *ngFor="let item of servicegroups" [value]="item.id">{{ item?.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                    <!--<div class="col-md-2">
    <div class="form-group">
      <label for="sel1">
        Service Group
      </label>
      <select class="form-control" [(ngModel)]="servicegroup"
              (change)="LoadPartners()">
        <option *ngFor="let item of servicegroups" value="{{item.id}}">{{item.name}}</option>
      </select>
    </div>
  </div>-->
                    <div class="col-md-3">
                      <mat-form-field floatLabel="always">
                        <mat-label>Partner</mat-label>
                        <mat-select name="service_group" [(ngModel)]="partner">
                          <mat-option value="">Select</mat-option>
                          <mat-option *ngFor="let item of partners" [value]="item.partnerid">{{ item?.partnername}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                    <!--<div class="col-md-3">
    <div class="form-group">
      <label for="sel1">
        Partner
      </label>
      <select class="form-control" [(ngModel)]="partner">
        <option *ngFor="let item of partners" value="{{item.partnerid}}">{{item.partnername}}</option>
      </select>
    </div>
  </div>-->
                    <div class="col-md-2">
                      <mat-form-field floatLabel="always">
                        <mat-label> Search Key</mat-label>
                        <input matInput type="text" autocomplete="off" [(ngModel)]="srchkey"  safe-chars maxlength="20"/>
                      </mat-form-field>

                    </div>
                    <!--<div class="col-md-2">
                      <div class="form-group form-md-line-input nopad nomar martop_-2">
                        <label for="txtSearch" class="form-label">
                          Search Key
                        </label>
                        <div class="input-group">
                          <input class="form-control" [(ngModel)]="srchkey" safe-chars maxlength="20" />
                        </div>
                      </div>
                    </div>-->
                    <div class="form-group no-margin">
                      <button type="button" class="btn btn-outline-primary btn_custom" (click)="GetServices()"><i class="fa fa-search" aria-hidden="true" matTooltip="search"></i></button>
                      <!--<a mat-mini-fab class="cmp-fa" (click)="gettransactions()"><i class="fa fa-search" aria-hidden="true" matTooltip="search"></i></a>-->
                    </div>
                  </div>
                </div>





              
                <!--<div class="row" ng-show="servicelist.length>0">
                  <div class="col-md-6 col-sm-12">
                    <div class="">
                      <label>
                        Show <select convert-to-number [(ngModel)]="pageObject.pageSize" (change)="pagesizechange()" class="form-control input-sm input-xsmall input-inline">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                       
                        </select>
                        entries
                      </label>
                    </div>
                  </div>
                </div>-->
                <div class="container px-lg-1 my-1 p-1 bg-white rounded shadow-sm pos_abs">
                  <div fxLayout="row">
                    <div class="data-container">
                      <!--<div class="data-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>-->

                      <div class="data-table-container" *ngIf="dataSource.data.length > 0">

                        <table mat-table [dataSource]="dataSource" matSort class="data-table" (matSortChange)="customSort($event)">
                          <ng-container matColumnDef="service_code" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Code</th>
                            <td mat-cell *matCellDef="let row">{{row?.service_code}}</td>
                          </ng-container>

                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Name</th>
                            <td mat-cell *matCellDef="let row">{{row?.name}}</td>
                          </ng-container>

                          <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge Type</th>
                            <td mat-cell *matCellDef="let row">{{row?.type | customchargetypebyidpipe }}</td>
                          </ng-container>

                          <ng-container matColumnDef="servicegroup">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Group</th>
                            <td mat-cell *matCellDef="let row">{{row?.servicegroup | servicegroupbyid}}</td>
                          </ng-container>

                          <!--<ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{row?.state}}</td>
      </ng-container>-->

                          <ng-container matColumnDef="start_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                            <td mat-cell *matCellDef="let row">{{row?.start_date}}</td>
                          </ng-container>

                          <ng-container matColumnDef="end_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                            <td mat-cell *matCellDef="let row">{{row?.end_date}}</td>
                          </ng-container>

                          <ng-container matColumnDef="allowed_channels">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowed Channels</th>
                            <td mat-cell *matCellDef="let row">{{row?.allowed_channels | customallowedchannels}}</td>
                          </ng-container>
                          <ng-container cdkColumnDef="actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
                            <td *cdkCellDef="let row">
                              <button matTooltip="Get Service Details" (click)="serviceGroup(row)" class="btn black mt-ladda-btn button-ladda btn-circle btn-outline btn-xs">
                                <i class="fa fa-eye"></i>
                              </button>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns | paginate: { id: 'services_pagination', itemsPerPage: pageObject.pageSize, currentPage: pageObject.pageNo, totalItems: pageObject.totalRecords}"></tr>
                        </table>

                        <!--<div *ngIf="pageObject.totalRecords === 0">No records found</div>-->
                      </div>
                      <div class="nodata" *ngIf="dataSource.data.length === 0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>No Data Found</div>
                      <div class=" px-lg-1 my-1 p-1 bg-white rounded shadow-sm">
                        <div class="mt-2">
                          <pagination-controls class="my-pagination"
                                               (pageChange)="changePage($event)"
                                               screenReaderCurrentLabel="You're on page"
                                               id="services_pagination">
                          </pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
</section>



