<div class="confirm-modal">
  <h4>Confirm <i class="fa fa-exclamation-circle"></i></h4>
  <hr />
  <mat-dialog-content class="mat-typography">
    <h3>{{settings.message}}</h3>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial class="confirm-cancel">{{settings.confirmText}}</button>
    <button mat-button [mat-dialog-close]="true" class="confirm-ok">{{settings.cancelText}}</button>
  </mat-dialog-actions>
</div>
