
.prog {
  margin-bottom: 15px;
}
/*.filename {
  background: #e6e6e6;
  margin-bottom: 10px;
}*/
.progress {
  margin-top: 7px;
}
button.btn.btn-danger.btn-s {
  margin-left: 10px;
}
:focus {
  outline:none;
}
.table {
  height: 150px !important;
  overflow-y: scroll;
  display: block;
  border: 1px solid #eaeaea;
}
  .table td, .table th {
    font-size: 13px;
  }
.td-break20 {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-raised-button {
  line-height: 36px !important;
}
.btn_danger.btn-xs {
  padding: 2px 6px;
  background: #ff8282 !important;
  /* border: #ff0000; */
  color: #fff;
  border-radius: 50% !important;
  -webkit-appearance: none;
  text-align: center;
}

.btn_up {
  background: #9fe880;
  color: #fff;
  margin-right: 10px;
}

.btn_remove {
  background: #ff8383;
  color: #fff;
}
.filename {
  background: transparent;
  margin-bottom: 10px;
}

.input-uploader {
  width: 100%;
  display: block;
  background-color: #e6e6e6;
}

.progress {
  margin-top: 7px;
}
