.basic_details {
  margin-top: 15px;
  margin-bottom: 30px;
}

.detail_sec {
  box-shadow: 4px 8px 40px #ccc;
  padding: 10px;
}

.detail_title h4 {
  margin-bottom: 8px;
}

.detail_title h4 {
  padding: 15px 15px;
  border-bottom: 1px solid #ececec;
  font-weight: 400;
  font-size: 16px;
  height: 48px;
}

.user {
  color: #00aeef;
  margin-left: 8px;
}

.btn.btn-outline.blue {
  border-color: #3598dc;
  color: #3598dc;
  background: 0 0;
  width: 30px;
  height: 30px;
  padding: 2px;
}

.search_btn {
  position: relative;
  top: 34px;
}

.detail_title a {
  position: relative;
  top: -9px;
}

.btn.btn-outline.blue.active, .btn.btn-outline.blue:active, .btn.btn-outline.blue:active:focus, .btn.btn-outline.blue:active:hover, .btn.btn-outline.blue:focus, .btn.btn-outline.blue:hover {
  border-color: #3598dc;
  color: #FFF;
  background-color: #3598dc;
}

.btn-circle {
  border-radius: 25px !important;
  overflow: hidden;
}

.filter-section {
  border: 1px solid #f5f5f5;
  padding: 5px 20px;
  margin: 20px 0px 20px;
}

.cmp-fa-gray {
  background-color: #888 !important;
}

.cmp-fa {
  margin-left: 3px !important;
  background-color: #31bafd !important;
}

.mat-mini-fab {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

  .mat-mini-fab .mat-button-wrapper {
    line-height: 14px !important;
  }


.form-row {
  position: relative;
  margin-top: 30px;
}

.form-label {
  position: absolute;
  top: 5px;
  left: 0px;
  color: #999;
  cursor: text;
  transition: all .15s ease-in-out 0s;
  font-size: 15px;
}

.form-textbox,
.form-submit {
  width: 100%;
  padding: 0px 20px;
  height: 41px;
  padding-left: 5px;
}

.form-textbox {
  border: none;
  border-bottom: 1px solid #ccc;
}

  .form-textbox:focus ~ .form-label,
  .form-textbox:valid ~ .form-label {
    top: -1.5em;
    left: 0;
    font-size: .8em;
    color: inherit;
    cursor: pointer;
    color: #333;
  }
