
<div class="telenor_bg">
  <div class="logo">
    <div class="client-logo">
      <a href=""><img src="assets/images/logo.png"></a>
    </div>
  </div>
</div>

<div class="login_sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 offset-xs-0 offset-sm-0 offset-md-1 offset-lg-2">
        <div class="logo-connect">
          <img src="assets/images/grameen_phone.png">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 login-leftbg">
        <div class="login-form">
          <span class="card-title graytitle marginbottom15">Reset Password   <span (click)="showpwdPolicy()"><i class="fa fa-info-circle" aria-hidden="true"></i></span></span>
          <div class="logrow">
            <div class="form-group has-feedback marbtm_30 input-field">
              <div class="loginusernamelabel">
                New Password
                <!--<a class="popovers" id="popover" data-container="body" data-trigger="hover" data-placement="right" data-content={{pwdPolicy}} data-original-title="Password Policy"><i class="fa fa-info-circle" aria-hidden="true"></i></a>-->
              </div>
              <div class="pass">
                <input type="password" autocomplete="off" class="form-control" id="pwd" placeholder="New Password" name="password" [(ngModel)]="resetForm.password" #password="ngModel" pattern=".{8,}" maxlength="16" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="err" style="margin-bottom: 15px;">
                  <div *ngIf="password.errors.required">New Password is required.</div>
                  <div [hidden]="!password.errors.pattern">Password should contains 8 or more characters</div>
                </div>
              </div>
            </div>
            <div class="form-group has-feedback marbtm_30 input-field">
              <div class="loginpasswordlabel">
                Re-enter Password
              </div>
              <input type="password" autocomplete="off" class="form-control" id="newpwd" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="resetForm.confirmpassword" #confirmpassword="ngModel" pattern=".{8,}" maxlength="16" required>
              <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="err">
                <div *ngIf="confirmpassword.errors.required">Please enter Confirm Password.</div>
                <div [hidden]="!confirmpassword.errors.pattern">Confirm Password should contains 8 or more characters</div>
              </div>
            </div>

            <div class="form-group has-feedback">
            </div>
            <div class="clearfix">
            </div>
            <div class="box-footer absleft absright martop_10">
              <div class="col-xs-12 nopad">
                <button type="button"  (click)="resetpwd(resetForm)"
                        class="wave-btn gpblue btn btn-primary btn-block btn-flat loginclickcall"
                        id="loginBtn" autofocus>
                  Submit
                </button>
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="clearfix">

              <div class="text-right absright">
                <a class="forget-password" routerLink="/">Back to Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


