<div class="telenor_bg">
  <div class="logo">
    <div class="client-logo">
      <a href=""><img src="assets/images/logo.png"></a>
    </div>
  </div>


</div>

<div class="login_sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 offset-xs-0 offset-sm-0 offset-md-1 offset-lg-2">
        <div class="logo-connect">
          <img src="assets/images/grameen_phone.png">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 login-leftbg">
        <form autocomplete="off" class="form login" #loginForm="ngForm" novalidate>
          <div class="login-form">
            <span class="card-title graytitle marginbottom15">Sign In</span>
            <div class="logrow">
              <div class="form-group has-feedback marbtm_10 input-field">
                <div class="loginusernamelabel">
                  Username
                </div>
                <input id="loginid" type="text" name="loginid" class="form-control loginfocus "
                       [(ngModel)]="userobj.loginid">
              </div>
              <div class="form-group has-feedback input-field">
                <div class="loginpasswordlabel">
                  Password
                </div>
                <input id="pwd" type="password" name="password" class="form-control loginclick "
                       [(ngModel)]="userobj.password" autocomplete="off" (keydown.enter)="Login(loginForm)">
              </div>
              <div class="form-group has-feedback">
              </div>
              <div class="clearfix">
              </div>
              <div class="box-footer absleft absright martop_10">
                <div class="col-xs-12 nopad">
                  <button type="button" class="wave-btn gpblue btn btn-primary btn-block btn-flat loginclickcall"
                          id="loginBtn" (click)="Login()">
                    SIGN IN
                  </button>
                </div>
                <div class="clearfix">
                </div>
              </div>
              <div class="clearfix">
                <div class="col-sm-6 text-left absleft">
                  <a id="loginBtnadfs">SIGN IN ADFS </a>
                </div>
                <div class="col-sm-6 text-right absright">
                  <a class="forget-password" routerLink="/forgotpwd">Forgot password ?</a>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
