<h2 mat-dialog-title>
  UPLOAD USER
</h2>
<mat-dialog-content class="mat-typography">
  <!--<h3>User Type*</h3>-->
  <p>
    <mat-form-field>
      <mat-select placeholder="User Type"  [(value)]="selectedusertype">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let usertype of usertypes" [value]="usertype.value">
          {{usertype.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-stroked-button color="warn" mat-dialog-close>Close</button>
  <button mat-button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
   
</mat-dialog-actions>
 
