.accounts {
  padding: 10px 15px;
  padding-right: 30px;
  background: #fff;
  margin-top: 10px;
}

.header_textt h4 {
  font-size: 18px;
  border-bottom: 1px solid #3598dc;
  color: #3598dc;
  padding-bottom: 10px;
  font-family: "Open Sans",sans-serif !important;
}
.mat-form-field {
  width: 100%;
}
