<h2 mat-dialog-title>RESET PASSWORD</h2>
<hr />
<form autocomplete="off" name="resetpwdForm" novalidate #resetpwdForm='ngForm'>
  <mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label> New Password </mat-label>
            <input matInput type="password" autocomplete="off" id="pwd" placeholder="" name="password"
                   [(ngModel)]="resetForm.password" #password="ngModel" pattern=".{8,}" maxlength="16" required>
            <mat-error>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">New Password is required.</div>
                <div [hidden]="!password.errors.pattern">Password should contains 8 or more characters</div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label> Re-enter Password</mat-label>
            <input matInput type="password" autocomplete="off" id="newpwd" placeholder="" name="confirmpassword"
                   [(ngModel)]="resetForm.confirmpassword" #confirmpassword="ngModel" pattern=".{8,}" maxlength="16" required>
            <mat-error>
              <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                <div *ngIf="confirmpassword.errors.required">Please enter Confirm Password.</div>
                <div [hidden]="!confirmpassword.errors.pattern">Confirm Password should contains 8 or more characters</div>
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br />
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b> Password Policy</b>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div [innerHtml]="pwdPolicy"> </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br />
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="pull-right">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" type="button" (click)="resetpassword()">Submit</button>
  </mat-dialog-actions>
</form>
